{% extends "base.html" %}

{% block content %}
<div>
<h1>{{ title }}</h1>
<form action="" method="post" novalidate enctype="multipart/form-data">
    <div>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <div class="alert alert-danger" role="alert">
            {{ error }}
            </div>
        {% endfor %}
    </div>
    <div>
        {{ form.surname.label }}<br>
        {{ form.surname(class="form-control") }}<br>
        {% for error in form.surname.errors %}
            <div class="alert alert-danger" role="alert">
            {{ error }}
            </div>
        {% endfor %}
    </div>
    <div>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control") }}<br>
        {% for error in form.email.errors %}
            <div class="alert alert-danger" role="alert">
            {{ error }}
            </div>
        {% endfor %}
    </div>
    <div>
        {{ form.age.label }}<br>
        {{ form.age(class="form-control") }}<br>
        {% for error in form.age.errors %}
            <div class="alert alert-danger" role="alert">
            {{ error }}
            </div>
        {% endfor %}
    </div>
    <div>
        {{ form.job.label }}<br>
        {{ form.job(class="form-control") }}<br>
        {% for error in form.job.errors %}
            <div class="alert alert-danger" role="alert">
            {{ error }}
            </div>
        {% endfor %}
    </div>
</form>
</div>
<br>
{% endblock %}